.sec4{
    background-color: #ffff;
}
.sec4-container{
    width: 80%;
    margin: auto;
}
.step1,.step2,.step3{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.step{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
}
@media (min-width: 900px) {
    .step1{
      flex-direction: row-reverse;
    }
    .step2{
        flex-direction: row;
    }
    .step3{
        flex-direction: row-reverse;
    }
}